{{ $baseurl := .Site.BaseURL }}
<!--<h1 class="site-title">
  <span class="base05">K</span><span class="base08">P</span><span class="base09">O</span><span class="base0a">P</span><span class="base0b">G</span><span class="base0c">IR</span><span class="base0d">L</span><span class="base05">Z</span>
  <span class="base05">!</span>
</h1>
-->
<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Let's get ready to rumble
</div>
