{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">K</span><span class="base08"></span><span class="base09">P</span><span class="base0a">O</span><span class="base0b">P</span><span class="base0c">G</span><span class="base0d">I</span><span class="base08">RL</span><span class="base0b">S</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Let your eyes rest upon the beauty of the modern world.
</div>
